@import 'sxcss';



@mixin btn {
  display: initial;
  @include width(100);
  @include height(100);
  @include background-color(black);
  @include color(white);
  @include font-size(1rem);
  @include font-weight(map-deep-get($font, weight, medium));
  @include padding-x(map-deep-get($scale, proportion, sm));
  @include padding-y(map-deep-get($scale, proportion, xs));
  @include margin-x(auto);
  @include border-radius(map-deep-get($scale, proportion, xxs));
  @include transition(all map-deep-get($transition, duration, ms) ease-out);
}
@mixin container-boxed {
  @include container;
  @include boxed;
}





.wp-block {
  &-button {
	@include flex;
	a {
	  @include btn;
	  width: auto;
	}
	&.aligncenter {
	  @include justify-content(center);
	  @include text-align(center);
	  a {
		@include justify-self(center);
	  }
	}
	&__link {
	  width: auto;
	}
  }
}

.wp-block {
  &-columns {
	&.alignfull {
	  @include width(100);
	  @include max-width(100vw);
	}
		@include flex
	}
	.wp-block-column {
	  > div {
		&.alignwide {
		  @include width(100% !important);
		}
	  }
	}
  }

.wp-block {
  &-cover {
	@include min-height(map-deep-get($scale, proportion, lg));
	@include background-repeat(no-repeat);
	@include background-size(cover);
	@include display(grid);
	@include place-content(center);
	&.place-content--start--center {
	  @include place-content(start center);
	}
	&.alignwide {
	  @include container-boxed;
	}
	&__inner-container {
	  @include flex;
	  @include flex-direction(column);
	  > * {
		@include color(white);
		@include width(100);
		display: initial;
	  }
	  > p {
		margin-bottom: 0;
	  }
	}
  }
}

.wp-block {
  &-image {
		img {
      @include width(100);
		}
	figure {
	  @include flex;
	  @include width(100);
	  &.aligncenter {
		@include justify-content(center);
	  }
	}
	&.alignwide {
	  @include justify-content(center);
	  img {
		@include object-fit(contain);
	  }
	}
  }
}

.alignwide {
  @include width(100%);
}
.alignfull {
  @include width(100%);
  @include max-width(100vw);
}

.wp-page,
.page {
  &--no-heading {
	.page__heading {
	  display: none;
	}
  }
  &__heading {
	@include text-align(center);
	display: none;
  }
  .section {
	.column {
	  > div {
		@include width(100%);
	  }
	}
  }
}


