@import '../Base/Base.scss';

.wp-block {
  &-image {
    width: 100%;
    @include media('<=md') {
      display: flex;
      justify-content: center;
    }

    img {
      width: auto;
    }

    figure {
      @include flex;
      @include width(100%);
      &.aligncenter {
        @include justify-content(center);
      }
    }
    &.alignwide {
      @include justify-content(center);
      img {
        @include object-fit(contain);
      }
    }
  }

  &-embed {
    @include media('<=md') {
      flex-direction: column;
      justify-content: center;
    }
    &.alignwide,
    &.alignfull {
      iframe {
        width: 100%;
      }
    }
  }
}
